<strong>Hello, {{ deliveryman }}</strong>
<p>
  You have a new order!<br />
  The product is ready withdrawal
</p>
<p>
  <strong>Order date: </strong> {{ date }} <br />
  <strong>Recipient: </strong> {{ recipient }} <br />
  <br />
  <p><strong>Delivery address</strong> <br />
    {{ street }}, {{ number }}, {{ address_complement }} <br />
    {{ neighborhood }}<br />
    {{ zip_code }} {{ city }} {{ state }}
  </p>
</p>
